<div class="container-fluid bg-primary">
  <div class="container">
    <div class="row pad-lr">
      <div class="form-group col-md-4">
        <select (change)="onSortSelect($event)" name="sortUsers" class="form-control" id="sortUsers">
          <option>Sort Users</option>
          <option value="A">Name (A - Z)</option>
          <option value="Z">Name (Z - A)</option>
          <option value="higher">Rank (&#x2191;)</option>
          <option value="lower">Rank (&#x2193;)</option>
        </select>
      </div>
      <div class="form-group col-md-8">
        <input type="searchUsers" (keyup.enter)="searchUserOnEnter(searchKey)" [(ngModel)]="searchKey"
          class="form-control" id="searchUsers">
      </div>
    </div>
  </div>
</div>