.profile-background{
    background-color: #F6F6F6;
}

.jumbotron{
    background-color: #fff;
}

img{
    width: 130px;
}

.details{
    margin-top: 175px;
}
.overflow{
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.user-cards-row{
    padding: 0 15px;
    margin-bottom: 15px;
}
.top-20{
    position: relative;
    top: 20px;
}
.card-body{
    padding: 0;
}
.row-cust{
    padding: 15px;
}