<div class="row user-cards-row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row row-cust">
          <div class="col-md-2" class="user-img">
            <img [src]="gitUser.avatar_url" class="img rounded-circle">
          </div>
          <div class="col-md-10 top-20">
            <h3>{{gitUser.login}}</h3>
            <p>Profile Url: <a href="{{gitUser.html_url}}">{{gitUser.html_url}} </a></p>
            <p class="score;">Score : {{gitUser.score.toFixed(2)}}</p>
            <p>
              Type : {{gitUser.type}}
              <button class="btn btn-outline-primary float-right" (click)="getUserRepos()"
                style="position: relative; bottom: 15px;">Details</button>
            </p>
          </div>
        </div>
        <!-- Details section -->
        <div *ngIf="repos">
          <div class="overflow" *ngIf="isCollapsed">
            <table class="table table-striped">
              <tr *ngFor="let repo of repos">
                <td>{{repo.name}}</td>
                <td>{{repo.language}}</td>
                <td title="open issue"> Issue <span class="badge badge-secondary">{{repo.open_issues_count}}</span></td>
                <td>Followers <span class="badge badge-info">{{repo.watchers}}</span></td>
                <td>Forks <span class="badge badge-dark">{{repo.forks_count}} </span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>