<div class="profile-background">
  <div class="prof row justify-content-center align-items-center">
    <div class="jumbotron">
      <div class="col-md-2 float-left">
        <img [src]="gitUser.avatar_url" class="profile-img">
      </div>
      <div class="col-md-8 float-left">
        <h3>{{gitUser.login}}</h3>
        <p>Profile Url: {{gitUser.html_url}} </p>
        <p>Data One: Value One</p>
        <p>Data Two: Value Two</p>
      </div>
      <!-- data-toggle="collapse" data-target=".multi-collapse"
        aria-expanded="false" aria-controls="multiCollapseExample1" -->
      <button class="btn btn-primary" type="button" (click)="getUserRepos()" class="details">Details
      </button>

      <div class="col-sm-12" *ngIf="repos">
        <div class="row overflow" *ngIf="isCollapsed">
          <div class="col">
            <!-- <div class="collapse multi-collapse" id="multiCollapseExample1"> -->
              <table class="table table-striped">
                <tr *ngFor="let repo of repos">
                  <td>{{repo.name}}</td>
                  <td>{{repo.language}}</td>
                </tr>
              </table>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>